@use 'styles/theme' as *;

:host {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	overflow: hidden;
}

.sm-main {
	display: flex;
	grid-row: 2;
	position: relative;
	overflow: hidden;
	
	@media (max-width: 960px) {
		flex-direction: column;
	}
}
