@use 'igniteui-theming' as *;

:host {
	display: block;
	padding-block-start: var(--sm-dock-manager-gutter);
	padding-inline-start: var(--sm-dock-manager-gutter);
	width: calc(100% - var(--sm-dock-manager-gutter));
	height: calc(100% - var(--sm-dock-manager-gutter));
}

.app-dock-manager {
	--igc-button-text: #{var(--ig-secondary-500)};
	--igc-dock-background: var(--ig-gray-100);
	--igc-pane-header-text: #fff;
	--igc-pane-header-background: #212121;
	--igc-pane-content-background: #000;
	--igc-pane-content-text-color: #fff;
	--igc-splitter-handle: var(--ig-gray-100);
	--igc-splitter-background: var(--ig-gray-100);
	--igc-active-color: var(--ig-primary-500);
	
	width: 100%;
	height: 100%;
}

::part(splitter) {
	flex: 0 0 rem(8px);
}

::part(splitter-ghost) {
	background: var(--ig-primary-500);
}
