@use 'igniteui-theming' as *;
@use 'igniteui-theming/sass/typography' as *;

.sm-schedule-list {
	--border-width: 0;
	--border-radius: 0;
	
	padding: rem(16px);
}

.sm-schedule-item {
	padding-block: rem(8px);
	
	&:focus,
	&:focus-within,
	&:focus-visible {
		outline: none;
	}
}

.sm-schedule-item__label {
	@include type-style(overline);
}

.sm-schedule-item__value {
	@include type-style(caption);
}

