@use 'igniteui-theming' as *;

:host {
	overflow-x: hidden;
	
	igc-chat {
		--background: var(--ig-gray-900-contrast);
		--chat-input-border: transparent;
		--ig-textarea-border-color: #{var(--ig-gray-300)};
		--ig-textarea-placeholder-color: #{var(--ig-gray-300)};
	}
	
	igc-chat::part(input-container) {
		padding: 0;
	}
}

igc-chat::part(text-input) {
	--textarea-height: #{rem(38px)}
}

