@use 'igniteui-theming' as *;

:host {
	overflow: hidden;
	position: relative;
	--ig-button-background: var(--sm-light-purple);
	
	
	igc-chat {
		height: 100%;
		
		--background: var(--ig-gray-900-contrast);
		--chat-input-border: transparent;
		--ig-textarea-border-color: #{var(--ig-gray-300)};
		--ig-textarea-placeholder-color: #{var(--ig-gray-300)};
		--message-background: trasparent;
		--message-color: #fff;
	}
}

igc-chat-input {
	padding: 0;
}

igc-chat::part(input-actions-end) {
	width: 100%;
}

igc-chat::part(chat-messages) {
	padding-block-end: 0;
}

igc-chat::part(message-item) {
	margin-inline-start: 0;
	margin-inline-end: auto;
}

igc-chat::part(message-container) {
	--igc-chat-sent-message-start-margin: 0;
	
	padding-block: 0;
	padding-inline-end: rem(24px);
	padding-inline-start: 0;
	
	@container(max-width: 400px) {
		padding-inline-end: rem(16px);
	}
}

igc-chat::part(input-area-container) {
	margin: 0;
	padding-block: 0;
	padding-inline: rem(24px);
	
	@container(max-width: 400px) {
		padding-inline: rem(16px);
	}
}

igc-chat::part(text-input) {
	--textarea-height: #{rem(38px)}
}

