@use 'igniteui-theming' as ig;

$sm-palette: ig.palette(
	$primary: rgb(156, 39, 176),
	$secondary: #6c757d,
	$gray: #adb5bd,
	$surface: #212529,
	$info: #0dcaf0,
	$success: #198754,
	$warn: #ffc107,
	$error: #dc3545,
	$variant: 'bootstrap',
);
