:host {
    display: block;
    width: 100%;
    height: 100%;
    
    & * {
        box-sizing: border-box;
    }
}

.demo-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    igc-chip {
        --ig-chip-hover-background: var(--ig-gray-300);
        --ig-chip-focus-background: var(--ig-gray-300);
    }
}

.router-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex: 1;
}
